/*
    Copyright 2024 by CusMeDroid
    DO NOT REMOVE THIS
    Don't modify or duplicate without our permission, we are law-abiding citizens.
*/

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background: #fdfdfd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #fdfdfd;
}
.animate-fading {
    animation:fading 10s infinite;
}
@keyframes fading {
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
}
.animate-opacity {
    animation:opac 0.8s;
}
@keyframes opac {
    from{opacity:0;}
    to{opacity:1;}
}
.animate-top {
    position:relative;animation:animatetop 0.4s;
}
@keyframes animatetop {
    from{top:-300px;opacity:0;}
    to{top:0;opacity:1;}
}
.animate-left {
    position:relative;
    animation:animateleft 0.4s;
}
@keyframes animateleft {
    from{left:-300px;opacity:0;}
    to{left:0;opacity:1;}
}
.animate-right {
    position:relative;animation:animateright 0.4s;
}
@keyframes animateright {
    from{right:-300px;opacity:0;}
    to{right:0;opacity:1;}
}
.animate-bottom {
    position:relative;animation:animatebottom 0.4s;
}
@keyframes animatebottom {
    from{bottom:-300px;opacity:0;}
    to{bottom:0;opacity:1;}
}
.animate-zoom {
    animation:animatezoom 0.6s;
}
@keyframes animatezoom{
    from{transform:scale(0);}
    to{transform:scale(1);}
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: PoppinsRegular;
    src: url("../fonts/poppinsregular.ttf");
}

body {
    font-family: "PoppinsRegular", sans-serif;
    margin: 0px;
}

.bground {
    background: whitesmoke;
}

h1,h2,h3,h4,h5,p {
    margin: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}

a:hover {
    color: red;
}

.mlogo {
    max-width: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 14px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ff000060;
    height: 76px;
    z-index: 2;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1000px;
    height: 76px;
    padding: 8px;
    margin: 0 auto;
}

.h-left {
    float: left;
}

.h-right {
    float: right;
}

.h-right .navi {
    padding: 12px;
    display: inline-block;
    font-size: 18px;
}

.h-right .m-navi {
    display: none;
}

#m-menu {
    display: none;
}

#m-menu .mm-navi {
    display: none;
}

.main-app {
    background-image: url("../wallpaper/001.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sdtxt {
    text-shadow: 2px 2px #222222;
    color: white;
}

.acsxd {
    border: 2px solid #ECECEC;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    width: 600px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.autocomplete {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-right: 4px;
}

.sww-input-text {
    width: 100%;
    padding: 6px 10px;
    border: none;
    font-size: 16px;
}

.radius-20 {
    border-radius: 20px;
}

.acsss {
    border-radius: 20px;
    padding: 6px 14px;
    border: 1px solid transparent;
    cursor: pointer;
    transition-duration: 0.5s;
}

.acsss:hover {
    border: 1px solid #111;
    background: #111;
    color: #fff;
}

button {
    background: transparent;
    cursor: pointer;
    border: none;
    transition-duration: 0.5s;
}

.padd-8 {
    padding: 8px;
}

.padd-20 {
    padding: 20px;
}

.pl-8 {
    padding-left: 8px;
}

.t-desk {
    padding: 8px;
    text-indent: 1.8em;
    text-align: justify;
    white-space-collapse: preserve;
}

.white {
    color: white;
}

.black {
    color: black;
}

.red {
    color: red;
}

.darkred {
    color: darkred;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.mscard {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px;
    background: white;
}

.card-cc {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 20px;
    background: white;
    padding: 20px;
}

.me-arts-content {
    width: 100%;
    padding: 10px 14px;
    margin-top: -35px;
}

.me-arts-contents {
    width: 100%;
    padding: 10px 14px;
    margin: auto;
}

/* Timeline Main */
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: whitesmoke;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: whitesmoke;
    border: 4px solid red;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid red;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent red;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid red;
    border-width: 10px 10px 10px 0;
    border-color: transparent red transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: red;
    position: relative;
    border-radius: 6px;
    color: white;
}
/* Timeline End */

/* Profile */
.bg {
    background: url('../wallpaper/001.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 360px;
}
.pf {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
}
.main {
    width: 100%;
    margin-top: -200px;
    margin-bottom: 10px;
}
.contain {
    width: 80%;
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: -80px;
    margin-bottom: 20px;
}
.title {
    padding: 10px;
}
.summary {
    text-align: center;
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
}
.btn {
    width: 60px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 10px;
    color: #333;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover {
    background-color: #222;
    color: white;
}
.contain_2 {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}
.icolumn {
    float: left;
    width: 50%;
    padding: 20px 5px 10px 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.i_contain {
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.icon_logo {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    float: left;
    z-index: 1;
    margin-top: -22px;
    margin-left: -25px;
    transition-duration: 0.4s;
    border: 1px solid #ccc;
    background-color: black;
}
.i_cards {
    width: 100%;
    height: 90px;
    background: white;
    border-radius: 20px;
    padding: 8px 8px 8px 14px;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    float: left;
}
.i_title {
    margin-top: 10px;
    margin-left: 55px;
    margin-right: 4px;
}
.i_summary {
    margin-left: 55px;
    overflow: hidden;
    margin-right: 4px;
}
.i_contain:hover .icon_logo {
    margin-top: 4px;
}
.i_space {
    width: 100%;
    height: 70px;
}

#layview {
    display: none;
}

#laynf {
    display: none;
    padding: 100px;
    text-align: center;
    color: black;
}

#oops {
    padding: 100px;
    text-align: center;
    color: black;
}

#login {
    display: none;
}

.main-cookies {
    width: 100%;
    padding: 20px;
    background: #ff000095;
    position: fixed;
    display: flex;
    bottom: 0;
    z-index: 2;
    align-items: center;
}

#btn-cookies {
    background: black;
    color: white;
    margin-top: 0px;
    margin-left: 10px;
    padding: 8px 16px;
    border-radius: 5px;
}

#btn-cookies:hover {
    background: white;
    color: black;
}

.post-bg {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
}

#laysignup {
    display: none;
}

#step-two {
    display: none;
}

.agsa {
    padding: 10px 16px;
}

input[type=text], input[type=email], input[type=password], input[type=file], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}

.btn-login:hover {
    background-color: red;
}

.abtn {
    cursor: pointer;
    color: darkred;
    transition: 0.4s;
}

.abtn:hover {
    color: red;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
 
.sidebar a.active {
    background-color: red;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: red;
    color: white;
}

.main-dasbor {
    margin-left: 200px;
    padding: 10px 0px;
}

#settings {
    display: none;
}

/* Video Main */
.main-post {
    width: 100%;
    height: 100%;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.fullheight {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}
/* Video End */

.btm-aks {
    width: 100%;
    height: 40%;
    position:fixed;
    bottom:0;
    background-image: linear-gradient(transparent, #212121);
}

.btm-head {
    width: 80px;
    position: absolute;
    right: 30px;
    bottom: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-a .pfs {
    display: block;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    border: 2px solid #6c6c6c;
}

.btn-a .mlicon {
    display: block;
    width: 64px;
    height: 64px;
    padding: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Table */
.sec-tbl {
    overflow: auto;
    padding: 0px 8px;
}

#mearts-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#mearts-table td, #mearts-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#mearts-table tr:nth-child(even){background-color: #f2f2f2;}

#mearts-table tr:hover {background-color: #ddd;}

#mearts-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: white;
}

footer {
    padding: 30px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .h-right .navi {
        display: none;
    }

    .h-right .m-navi {
        display: inline-block;
        padding: 12px;
        font-size: 18px;
    }

    #m-menu {
        display: none;
        position: fixed;
        background: #222;
        right: 0;
        width: 65%;
        height: 100%;
        overflow: auto;
        z-index: 3;
    }

    #m-menu .mm-navi {
        padding: 12px;
        display: block;
        font-size: 18px;
        color: white;
    }

    #m-menu .mm-navi:hover {
        color: red;
    }

    .middle {
        position: relative;
        width: 100%;
        top: 35%;
        left: 0%;
        transform: none;
        text-align: center;
    }

    .acsxd {width: 90%;}

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid red;
        border-width: 10px 10px 10px 0;
        border-color: transparent red transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    .column {
        width: 100%;
    }

    .icolumn {
        width: 100%;
    }

    .main-cookies {
        width: 100%;
        padding: 20px;
        background: #ff000095;
        position: fixed;
        display: block;
        bottom: 0;
        z-index: 2;
    }

    #btn-cookies {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
        background: black;
        color: white;
        padding: 14px 20px;
        border-radius: 5px;
    }

    .mscard {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 16px;
        padding: 16px;
    }

    .mlogo {
        width: 80%;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
    }
    .sidebar a {float: left;}
    .main-dasbor {margin-left: 0;}

    .demo-1 .deco {
        width: 130px;
        height: 130px;
        margin-left: -65px;
        margin-bottom: 50px;
    }

    .demo-1 [data-icon]:after {
        width: 110px;
        height: 110px;
        line-height: 110px;
        font-size: 40px;
        margin: -55px 0 0 -55px;
    }

    .demo-1 .sl-slide blockquote {
        margin-bottom: -120px;
    }

    .demo-1 .sl-slide h2 {
        line-height: 22px;
        font-size: 18px;
        margin-bottom: -40px;
        letter-spacing: 8px;
    }

    .demo-1 .sl-slide blockquote p:before {
        line-height: 10px;
        width: 40px;
        height: 40px;
        font-size: 120px;
        left: -45px;
    }
}
